body{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.col{
    width: 10rem;
    height: 10rem;
    border: 5px solid black;
    border-radius: 25%;
    margin: 0.5rem;
}

.pink{
    background-color: #d95980;
}

.blue {
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.orange{
    background-color: #f99b45;
}

.blink{
    background-color: #ffffff;
}